.cartItem {
    padding: 25px 0px 25px 0px;
    border-bottom: 1px solid #d1d1d1;
    &:first-child{
        border-top: 1px solid #d1d1d1;
    }
}
.imageContainer {
    background-color: #f9f9f9;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    height: 160px;
    width: 160px !important;
    img {
        width: auto;
        max-width: 100%;
        max-height: 80px;
    }
}
.productContainer {
    width: 200px !important;
}
.productDetails {
    padding-left: 12px;
    .productName {
        font-size: 20px;
        font-weight: 400;
    }
    .productSize {
        color: grey;
        font-size: 13px;
    }
    .quantityContainer {
        margin-top: 10px;
    }
    .productTotal {
        font-weight: 400;
        margin-top: 10px;
        font-size: 22px;
    }
    hr{
        margin-left: 10px;
    }
}

