@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;500;600&display=swap');

*{
  font-family: Open Sans;
}

.hidden{
  display: none !important;
}

.grid-action.edit-action{
  color: #4740de;
}
.grid-action.view-action{
  color: #4740de;
}
.grid-action.delete-action{
  color: red;
}

.link-hover{
  cursor: pointer;
}
